html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: auto;
}
.font-size{
  font-size: 13px;
}

.primary-color{
      background-color: #262B6C;
}
.text-color-primary{
      color: #262B6C;
}
.Links {
  color: inherit;         
  text-decoration: none;  
}
