/* Banner */
.carousel-item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: block;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  bottom: 20px;
  max-width: 80%;
  margin: 0 auto;
  right: 10%;
  left: 10%;
}

.carousel-indicators {
  margin-bottom: 10px;
}

.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  margin: 0 5px !important;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  opacity: 0.8;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .carousel-item img {
    height: 300px;
  }
  
  .carousel-caption {
    display: block !important;
    padding: 10px;
    bottom: 10px;
  }
  
  .carousel-caption h5 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .carousel-caption p {
    font-size: 12px;
    margin-bottom: 0;
  }
}

.Logo-img{
    width: 90px;
    height: 70px;
    border-radius: 50%;
}